*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #4f494e;
  color: #e8eeee;
  font-family: "Ubuntu", sans-serif;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  position: absolute;
  color: #eaf0f0;
  bottom: 60px;
  text-transform: uppercase;
  background: #4f494e;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.container {
  display: flex;
  width: 760px;
  min-height: 100vh;
  margin: 10px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
}

.header__title {
  margin: 1rem;
}

.header__desctiption {
  padding: 1rem;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-game {
  background-color: transparent;
  padding: 0.37rem 2.5rem;
  border: 0.06rem solid #ffffff;
  margin: 2rem;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}

.new-game:hover {
  color: #dddddd;
  border-color: #dddddd;
}

@import "./card.scss";
